@using STARK_Project.Controllers
@*@model STARK_Project.Models.DetailsViewModel*@
@model IEnumerable<Condition>
@{
    ViewData["Title"] = "Alerts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>S.T.A.R.K @ViewData["Title"]</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/site.css" rel="stylesheet">

</head>
<div class="container-fluid">

    <div class="d-sm-flex align-items-center mb-4">
        <h1 class="h3 mb-0 font-weight-bold text-gray-800 mr-4">This is your personal alerts page:</h1>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-bottom-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Ilość dodanych powiadomień:
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Count()</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bell fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        @if (Model.Count() > 0)
        {
            @foreach (var condition in Model)
            {
                <div class="card border-bottom-primary shadow mb-2">
                    <div class="">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                @if (condition.TresholdMin != 0)
                                {
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ml-4">
                                        Jeśli @condition.Cryptocurrency.Symbol spadnie poniżej
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 ml-4">@condition.TresholdMin</div>
                                }
                                else
                                {
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ml-4">
                                        Jeśli @condition.Cryptocurrency.Symbol wzrośnie powyżej
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 ml-4">@condition.TresholdMax</div>
                                }
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-danger btn-circle btn-sm mr-2"
                                   asp-action="RemoveNotification"
                                   asp-controller="Details"
                                   asp-route-conditionId="@condition.Id"
                                   asp-route-currentCrypto="@condition.Cryptocurrency.Symbol"
                                   asp-route-currentCurrency="PLN">
                                    <i class="far fa-bell-slash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
        else
        {
            <div class="card border-bottom-primary shadow mb-2">
                <div class="">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800 ml-4">Brak dodanych powiadomień</div>
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- /.container-fluid -->
