@model STARK_Project.Models.SummaryViewModel

@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>S.T.A.R.K @ViewData["Title"]</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/site.css" rel="stylesheet">

</head>
<div class="container-fluid">

    <div class="d-sm-flex align-items-center mb-4">
        <h1 class="h3 mb-0 font-weight-bold text-gray-800 mr-4">Display details about all cryptocurrencies</h1>
    </div>
    <!-- Content Row -->
    @*@foreach (var currency in Model.CryptoModel.RAW)*@
    @foreach (var currency in Model.Cryptocurrencies)
    {
        <div class="row">

            <div class="col-lg-12 mb-4">

                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-sm-flex align-items-center">
                        @*                        <i class="fab fa-@currency.Name.ToLower() fa-2x mr-4"></i><h6 class="m-0 font-weight-bold text-primary">@currency.Name</h6>*@
                        <i class="fab fa-bitcoin fa-2x mr-4"></i><h6 class="m-0 font-weight-bold text-primary">@currency.Key - @currency.Value</h6>
                    </div>
                    <div class="card-body">
                        <div class="d-sm-flex align-items-center">
                            <a class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm mr-4 nav-link" asp-area="" asp-controller="Details" asp-action="Index" asp-route-cryptocurrency="@currency.Key">
                                <i class="fas fa-info-circle fa-sm text-white-50"></i> Details
                            </a>
                            <a href="https://www.binance.com/en/buy-sell-crypto" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-4 nav-link">
                                <i class="fas fa-money-bill-wave fa-sm text-white-50"></i> Kup / Sprzedaj
                            </a>
                            @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mr-4 nav-link">*@
                            <a class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mr-4 nav-link" asp-area="" asp-controller="Summary" asp-action="AddToWatchList" asp-route-cryptocurrency="@currency.Key">
                                @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mr-4 nav-link">*@
                                <i class="fas fa-star fa-sm text-white-50"></i> Obserwuj
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
    @*<div class="col-lg-12 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3 d-sm-flex align-items-center">
                    <i class="fab fa-ethereum fa-2x mr-4" style="color: rebeccapurple;"></i><h6 class="m-0 font-weight-bold text-primary">Ethereum</h6>
                </div>
                <div class="card-body">
                    <div class="d-sm-flex align-items-center">
                        <a class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm mr-4 nav-link" asp-area="" asp-controller="Details" asp-action="Index">
                            <i class="fas fa-info-circle fa-sm text-white-50"></i> Details
                        </a>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-4 nav-link">
                            <i class="fas fa-money-bill-wave fa-sm text-white-50"></i> Kup / Sprzedaj
                        </a>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mr-4 nav-link">
                            <i class="fas fa-star fa-sm text-white-50"></i> Obserwuj
                        </a>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm mr-4 nav-link">
                            <i class="fas fa-sync-alt fa-sm text-white-50"></i> Aktualizuj
                        </a>
                    </div>
                </div>
            </div>
        </div>*@
</div>
<!-- /.container-fluid -->
